html, body {
    font-family: 'Lora', sans-serif;   
}

.container-fluid {
    background-color: steelblue;
}

nav .navbar-nav li {
    padding-left: 50px;
}

nav .navbar-nav li a {
    color: #fff !important;
    font-weight: bold;
    font-size: 1.5em ;
    text-decoration: underline;
}

.backdrop-container,
.carousel-container,
.reasons-container
.tours-container {
    margin: 25px 0px;
}

footer {
    width: 100%;
    padding: 25px;
}

.fab {
    font-size: 30px;
    padding: 20px;
    color: #fff;
}