html, body {
    font-family: 'Lora', sans-serif;   
}

.container-fluid {
    background-color: steelblue;
}

nav .navbar-nav li {
    padding-left: 50px;
}

nav .navbar-nav li a {
    color: #fff !important;
    font-weight: bold;
    font-size: 1.5em ;
    text-decoration: underline;
}

.backdrop-container,
.carousel-container,
.reasons-container,
.tours-container {
    margin: 25px 0px;
}

.fas {
    color: steelblue;
}

h2 {
    text-decoration: underline;
}

h3 {
    margin-top: 15px;
    font-style: italic;
}

.btn {
    color: #fff;
    background-color: steelblue;
    margin: 10px 0px;
}

.btn:hover {
    background-color: #fff;
    color: steelblue;
    border: 1px solid;
}

.btn:focus {
    background-color: #fff;
    color: steelblue;
    border: 1px solid;
}

footer {
    width: 100%;
    padding: 25px;
}

.fab {
    font-size: 30px;
    padding: 20px;
    color: #fff;
}

.card {
  margin: 50px 15px;
}

@media screen and (min-width : 991px ) {
  .card {
    margin-top: 80px;
  }

  .footer-stay {
      position: fixed;
      bottom: 0;
  }
}